@scope (form-input-textarea) {
  & {
    display: grid;
    grid-template-columns: 1fr;
  }

  textarea {
    padding: 0.5rem;
    font-size: var(--text-base);
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-block: 0 1rem;
    min-height: calc(var(--spacing-lg) * 3);
    resize: none;
    field-sizing: content;
    height: var(--round-up);

    &:focus-visible {
      outline: 2px dashed var(--accent);
      outline-offset: 1px;
    }
  }

  p {
    position: relative;
    margin-block: 0 1rem;
    padding-block-start: calc(1rem - 1cap);
    font-size: var(--text-base);
  }

  .required-asterisk {
    color: red;
    font-size: var(--text-sm);
    position: absolute;
    top: 0;
    margin-left: 0.4rem;
  }
}
