@scope (.popover) {
  & {
    border: 0px solid transparent;
    height: var(--round-up);
    position-anchor: --popoverTrigger;
    position-area: bottom center;
    right: anchor(right);
    top: calc(anchor(bottom) + 1rem);
    width: min(90vw, 41rem);
  }
}
