/* Storybook-specific styles */

@import url("../../packages/system/src/styles/index.css");

@font-face {
  font-family: "Monaspace";
  src: url("/fonts/Monaspace.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-monaspace:
    "Monaspace", ui-monospace, "SF Mono", Monaco, "Cascadia Code",
    "Roboto Mono", Consolas, "Courier New", monospace;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family-base);
  font-feature-settings:
    "kern" 1,
    "liga" 1,
    "calt" 1;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  scrollbar-gutter: auto;
}
