@scope (.form-input-button-submit) {
  & {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-submit-button {
    background-color: var(--primary-200);
    border: none;
    color: var(--light-100);
    cursor: pointer;
    font-size: var(--text-base);
    height: var(--spacing-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    gap: var(--spacing-base);

    span {
      display: flex;
      align-items: center;
      max-height: 1cap;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--primary-400);
    }
  }
}
