@scope (nav-item) {
  & {
    grid-column: var(--grid-column, auto);
  }

  span:has(svg) {
    --size: calc(1cap * 1.2);

    display: inline-flex;

    svg {
      max-width: var(--size);
      max-height: var(--size);
    }
  }

  button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--spacing-base);
  }

  a,
  button {
    --background-colour: var(--secondary-700);
    --colour: var(--light-100);
    --transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    align-items: center;
    background-color: var(--background-colour);
    color: var(--colour);
    display: flex;
    font-size: var(--text-base);
    gap: var(--spacing-base);
    justify-content: space-around;
    min-height: var(--spacing-md);
    padding: var(--padding, 0 var(--spacing-md));
    text-align: center;
    text-decoration: none;
    transition: var(--transition);

    @media screen and (width >= 1480px) {
      --padding: 0 var(--spacing-base);
    }

    &.active {
      --background-colour: var(--secondary-900);
      --colour: var(--primary-300);
    }

    &:hover {
      --background-colour: var(--secondary-800);
      --colour: var(--light-100);
    }
  }
}
