@scope (main) {
  :scope {
    grid-area: main / breakout;
    grid-template-columns: subgrid;
    row-gap: var(--spacing-lg);
    grid-column: breakout;
    grid-template-rows: min-content;
    display: grid;
  }
}
