@scope (code-block) {
  & {
    margin-block: var(--spacing-base) var(--spacing-md);
    width: 100%;
    overflow: hidden;
  }

  pre {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--light-200);
    color: var(--dark-500);
    margin: 0;
    padding: var(--spacing-lg);
    width: 100%;
    max-width: 100%;
  }

  code {
    background-color: transparent;
    display: block;
    font-family: var(--font-monaspace);
    font-palette: --github;
    font-size: var(--font-size-base);
    line-height: 1.785;
    min-width: 38rem;
    padding: 0;
    white-space: pre;
  }
}
