@scope (.card-with-image) {
  .meta {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    justify-content: space-between;
    margin-bottom: var(--spacing-base);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-base);
    background-color: aqua;
  }

  .tag {
    align-items: center;
    background-color: var(--light-200);
    color: var(--dark-500);
    display: flex;
    font-size: var(--text-xs);
    font-weight: var(--text-weight-medium);
    height: var(--round-up);
    justify-content: center;
    width: var(--round-up);
  }

  .title-link {
    color: inherit;
    text-decoration: none;
  }

  .card-image-hero {
    width: 100%;
    display: flex;

    img {
      aspect-ratio: 160 / 79;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
